<link rel="stylesheet" href="http://localhost:8000/public/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js">

    <link rel="shortcut icon" href="http://localhost:8000/public/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://localhost:8000/public/images/favicon.ico" type="image/x-icon">


    <header>
        <div class="overlay">
            <h1>Delicious Pizzas</h1>
            <br>
        </div>
    </header>





