<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js">

<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <ul class="nav navbar-nav text-center">
            <li><a href="/pizzas" class="btn btn"><span class="glyphicon glyphicon-heart"></span> Pizza Menu</a></li>
            <li><a href="/cart" class="btn btn"><span class="glyphicon glyphicon-shopping-cart"></span> My Cart</a></li>
            <li><a href="/custom" class="btn btn"><span class="glyphicon glyphicon-fire"></span> Custom pizza</a></li>
            <li><a href="/pay" class="btn btn"><span class="glyphicon glyphicon-euro"></span> Payment</a></li>
        </ul>
    </div>
</nav>